
root = true

[*.vim]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cpp]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.sh]
indent_style = tab
indent_size = 1
insert_final_newline = true

[*.sls]
indent_style = space
indent_size = 2
insert_final_newline = true
